/*CSS stylesheet for the M.A.W.jQ project

!!!WARNING!!!
I'm not ensuring cross-browser compatibility.
I wrote this stylesheet in order to self-study web
frontend development techniques.


TO-DO's:
Explain decisions and discoveries made while
writing this stylesheet. If I can ever remeber why I made some decisions...
*/


/*
Forcing no-padding & no-marging in the body container
*/
body
{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    background-color: #f7f7f7;
    top: 0px;
    bottom: 0px;
    left: 0px;
    right: 0px;
}

/*
Container-only div for the navigation bar and navigation bar elements.

No-padding, no-marging

Elements inside the header div #nav-header were inhereting its
opacity property, and I couldn't force the child element
to use its own opacity value.
*/
div#nav-container
{
    position:fixed;
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
    top: 0px;
    bottom: 0px;
    height: 80px;
    left: 0px;
    right: 0px;
    z-index: 3;
}

/*
The navigation bar itself. Semi-translucid.
*/
div#nav-header
{
    top:0px;
    position:inherit;
    width: 100%;
    height: inherit;
    background-color: gray;
    opacity:0.5;
}

/*Content div*/
div#content
{
    position:relative;
    z-index:0;
    margin: 80px 0px 0px 0px;
/*    padding-top: 1px;*/
    padding-bottom: 20px;
    padding-left: 10%;
        padding-right: 10%;
    height: 100%;
    background-color: transparent;
/*    text-align: center;*/
}

/*The footer (duh) div. Still needs to know if its a div called footer, or something else*/
footer
{
    position:absolute;
    z-index:0;
    width:100%;
    background-color: #e9e9e9;
    padding: 20px;
    text-align: center;
}


/*
The CSS for the sliding panel div. Using CSS3 selector hover
for purposes of simplicity - not worrying about
cross browser issues - only tested in
Chrome and Firefox (version circa 2014/03/10)
*/
#left-panel
{
    position: fixed;
    z-index: 3;
    top:0px;
    margin-top: 75px;
    width: 5%;
    height: 100%;
    left: -4%;
    transition: width 0.3s;
}
#left-panel:hover
{
    width: 30%;
    background-color: #fff;
}

div#right-panel
{
    position: fixed;
    z-index: 1;
    width: 5%;
    height: 100%;
    border-left: 20px;
    border-style: solid;
    border-color: #000;
}

div#nav-button-about
{
    position:fixed;
    top: 10px;
    right: 10px;
    left: auto;
    height: auto;
    width:  100px;
    display: block;
}

div#button-close
{
    position:absolute;
    top: 10px;
    right: 10px;
    left: auto;
    height: auto;
    width:  auto;
    display: block;
    padding: 5px;
}

/*classes*/
/*
Needs to put these ones on a separated div
'cause I couldn't force them to not inherit
the opacity from the nav-bar div
*/
.nav-links
{
    position:absolute;
    font-family: sans-serif;
    font-size: 18px;
}

/*Button div class*/
div.button
{
    background-color: white;
    border-color: black;
    border-width: 3px;
    border-radius: 10px;
    border-style: solid;
    opacity: 1.0;
    font-size: large;
    text-align: center;

}
div.button:hover
{
    border-color: gray;
    background-color: black;
    font-weight: bold;
    color: white;
}


/*Content cell div*/
div.content-cell
{
    position:relative;
    z-index:0;
    width:100%;
    background-color: white;
    border-radius: 5px;
    white-space: normal;
    word-break: break-all;
    padding: 20px 20px 20px 20px;
    margin-top: 30px;
    display:inline-block;
    font-family: fantasy;
}
div.content-cell h1{
    font-family: monospace;
}


/*modal dialog div*/
div.modal-dialog
{
    position:fixed;
    display:none;
    z-index:6;
    top: 25%;
    left: 25%;
    width: 50%;
    right: 25%;
    background-color: white;
    border-style: solid;
    border-color:black;
    border-width: 2px;
    border-radius: 20px;
    padding: 2% 2% 2% 2%;
    white-space: normal;
    word-break: normal;
}
